.redColor{
    color: red;
}
body {
    background-image: url("https://img.freepik.com/premium-vector/ticket-cinema-online-internet-booking-technology-movie-theater-illustration_121223-1700.jpg");
    background-size: contain;
    background-color: #d12b2b;
   }