
.main-box{
    margin-top:5px;
    margin-bottom: 5px;
    display: flex;
    width:100%;
    background-size: cover;
    background-color:whitesmoke;
    flex-wrap: wrap;
}
.food-section{
width:60%;
height: 800px;
margin-left: 20px;
background-color: coral;
margin-top:20px;
margin-bottom: 50px;
border:1px solid black;
border-radius: 10px;
}

.card-body{
    background-color: cornflowerblue;
    text-align: center;
    text-transform: uppercase;
}

.bill-box{
    margin-top: 30px;
    margin-bottom:30px;
    margin-left: 10px;
    margin-right: 10px;
    height:auto;
    width:400px;
    border:2px solid black;
    border-radius: 15px;
    background-color:burlywood;
    color: black;
    text-align: center;

}

.card, .coupons{
    height: 200px;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
