<div class="animation_container">
  <div class="glow ">
  </div>
</div>


















<div class=" one">
  <div class="two"></div>
  <div class="three">
    <img alt="" loading="lazy" width="400" height="400" decoding="async" data-nimg="1" class="img_style"
      src="../../assets/banner-img-1.png" style="color: transparent; border-radius: 0px;" />
  </div>
  <div class="four">

    <h1 class="five">
      Unleash your <span class="text-gradient">Programming</span> <br><span class="text-gradient">Genius</span>
      with our Community.</h1>
    <br />
    <p class="six"></p>
    <br /><br />
    <div class="seven">
      <input placeholder="Search Courses..."
        class="bg-transparent border dark:border-none dark:bg-[#575757] dark:placeholder:text-[#ffffffdd] rounded-[5px] p-2 w-full h-full outline-none text-[#0000004e] dark:text-[#ffffffe6] text-[20px] font-[500] font-Josefin"
        type="search" #searchInput value="" />

      <div class="eight" (click)="onsearchedClick()">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-white"
          height="30" width="30" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
          </path>
        </svg>
      </div>
    </div>
    <br /><br />
    <div class="nine">
      <img alt="" loading="lazy" width="46" height="46" decoding="async" data-nimg="1" class="image-style "
        src="../../assets/client-1.jpg" style="color: transparent" /><img alt="" loading="lazy" width="46" height="46"
        decoding="async" data-nimg="1" class="image-style" src="../../assets/client-2.jpg"
        style="color: transparent" /><img alt="" loading="lazy" width="46" height="46" decoding="async" data-nimg="1"
        class="image-style" src="../../assets/client-3.jpg" style="color: transparent" />
      <p class="ten">
        500K+ People already trusted us.
        <a class="dark:text-[#46e256] text-[crimson]" href="/courses">View Courses</a>
      </p>
    </div>
    <br />
  </div>
</div>

<section class="infobox_container">
  <div class="container " style="margin-left: auto; margin-right: auto; padding-left: 1rem; padding-right:1rem ;">
    <div class="infobox_container2">
      <h2 class="infobox_container3"> People <div class="infobox_container4">
          <h2 class="infobox_container6">
            Love</h2>
        </div> to<span> Watch Videos</span> </h2>
      <p class="infobox_container7"> MindMatrix businesses use video as an important component of
        their interactions with customers. Video is a powerful tool for building trust, educating, and engaging with
        your audience. </p>
    </div>
    <div class="infobox_container8">
      <div class="infobox_container9">
        <div class="infobox_container10">
          <h2 class="infobox_container11">
            69% </h2>
          <h3 class="infobox_container12">Course Purchasing Rate</h3>
          <p class="infobox_container13"> More people are watching videos online than ever before. In
            fact, their video consumption has more than doubled since 2018. </p>
        </div>
        <div class="infobox_container14">
          <h2 class="infobox_container15">
            87% </h2>
          <h3 class="infobox_container12">Marketers report a positive ROI
          </h3>
          <p class="infobox_container13"> Marketers are extremely optimistic about the return on
            investment provided by video, due to its big influence on traffic, sales, and education. </p>
        </div>
      </div>

    </div>
  </div>
</section>

<br /><br />






<div class="overall_container">
  <h1 class="card_above_txt">
    <span class="heading_text_bro" style="font-size: 1.5rem; color: white;">Embark on </span><span
      class="heading_text_bro">Project-Powered Learning</span>
  </h1>

  <top-rated-course [searchedText]="searchval"></top-rated-course>



</div>




<div class="section_features-2" style="padding-top: 5rem;">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-extra-large">
        <span class="heading_text_bro" style="font-size: 1.5rem; color: white;">Our Offerings</span><span
          class="heading_text_bro">Elevate Your Experience</span>
        <div class="features-3c-wrapper top-margin-60">
          <div class="features-2-card-wrapper">
            <div class="gradient-for-features"></div>

            <a href="#" class="card ">
              <div class="overlay"></div>
              <div class="circle">
                <img
                  src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbc8da9ae0eec69f74d_Layer_1%20(7).webp"
                  loading="lazy" width="50" alt="">

              </div>

              <p class="features-2-card-title top-margin-20">Course Catalog</p>
              <p class="text-medium-16 top-margin-10">A comprehensive catalog showcasing available courses with detailed
                descriptions, objectives, and pricing information.</p>
            </a>

          </div>
          <div class="features-2-card-wrapper">
            <div class="gradient-for-features"></div>

            <a href="#" class="card ">
              <div class="overlay"></div>
              <div class="circle">
                <img
                  src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbc80671c09d554569d_Layer_1%20(8).webp"
                  loading="lazy" alt="" width="50" class="features-2-icon" style="border-radius: 0px;">

              </div>

              <p class="features-2-card-title top-margin-20">Discussion Forums:</p>
              <p class="text-medium-16 top-margin-10">Interactive discussion forums where users can engage with
                instructors, ask questions, and collaborate on course-related topics.</p>
            </a>

          </div>
          <div class="features-2-card-wrapper">
            <div class="gradient-for-features"></div>

            <a href="#" class="card ">
              <div class="overlay"></div>
              <div class="circle">
                <img
                  src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbdf53261fa63238432_Vector%20(31).webp"
                  loading="lazy" width="40" alt="" class="features-2-icon" style="border-radius: 0px;">
              </div>

              <p class="features-2-card-title top-margin-20">Course Reviews and Ratings</p>
              <p class="text-medium-16 top-margin-10">Users can share feedback on completed courses, aiding others in
                making an
                informed enrollment decisions.</p>
            </a>

          </div>
          <div class="features-2-card-wrapper">
            <div class="gradient-for-features"></div>

            <a href="#" class="card ">
              <div class="overlay"></div>
              <div class="circle">
                <img
                  src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbdf53261fa63238432_Vector%20(31).webp"
                  loading="lazy" width="40" alt="" class="features-2-icon" style="border-radius: 0px;">
              </div>

              <p class="features-2-card-title top-margin-20">Quiz Service</p>
              <p class="text-medium-16 top-margin-10">
                Engage users actively with interactive quizzes, offering assessment, reinforcement, and dynamic learning
                of course material.</p>
            </a>

          </div>
          <div class="features-2-card-wrapper">
            <div class="gradient-for-features"></div>

            <a href="#" class="card ">
              <div class="overlay"></div>
              <div class="circle">
                <img
                  src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbdf53261fa63238432_Vector%20(31).webp"
                  loading="lazy" width="40" alt="" class="features-2-icon" style="border-radius: 0px;">
              </div>

              <p class="features-2-card-title top-margin-20">Dynamic Search & Filter</p>
              <p class="text-medium-16 top-margin-10">Easily customize your browsing experience by sorting and filtering
                search results based on relevance, popularity, or release date.





              </p>
            </a>

          </div>
          <div class="features-2-card-wrapper">
            <div class="gradient-for-features"></div>

            <a href="#" class="card ">
              <div class="overlay"></div>
              <div class="circle">
                <img
                  src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbdf53261fa63238432_Vector%20(31).webp"
                  loading="lazy" width="40" alt="" class="features-2-icon" style="border-radius: 0px;">
              </div>

              <p class="features-2-card-title top-margin-20">Tailored Pricing Solutions</p>
              <p class="text-medium-16 top-margin-10"> Set flexible pricing options for courses, enabling administrators
                to manage and adjust prices to suit their business model and market demands.</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




























<div id="twitter_testimonies-8" class="twitter_testimonies">
  <section class="sectionContainer">
    <div class="container sub_container">
      <div class="sub_container_heading" data-v-45816e3d="">
        <span class="heading_text_bro" style="font-size: 1.5rem; color: white;">Dive into</span><span
          class="heading_text_bro">Pioneering User Insights</span>

      </div>
      <ul class="review_container">
        <li class="review1" style="transform:translate(-88%, -21%) scale(0.6);">
          <div class="review_subContainer fancyShadow" style="--shadow-scale: 0.9; --shadow-offset: 20%; --shadow-blur: 64px; background: rgba(166, 169, 177, 1);
        
        
        " data-v-f501703a="" data-v-1f4049d4=""><img
              src="https://images.prismic.io/dico-apex/1517852f-9ed0-49c3-b819-e99a3198af58_Olivier.png?auto=compress,format&amp;rect=0,0,240,240&amp;w=64&amp;h=64"
              alt="Olivier Rabot" class="review_image" data-v-f501703a="" data-v-1f4049d4="">
            <div class="flex_container" data-v-f501703a="" data-v-1f4049d4="">
              <h3 class="text-heading-h4 " style="color: #000000;" data-v-f501703a="" data-v-1f4049d4="">
                Olivier Rabot
              </h3> <small class="reviewer_detail" data-v-f501703a="" data-v-1f4049d4="">
                Back-end developper at SuperSpace
              </small>
              <div class="text-body-large" data-v-f501703a="" data-v-1f4049d4="">
                <p>As a back-end developer, I'm impressed by the ease of the integration of Dico.<br>My front won't need
                  me anymore, giving me more time for fine-tuning and optimization: awesome!</p>
              </div>
            </div>
          </div>
        </li>
        <li class="review1" style="transform:translate(-46%, 20%) scale(0.7);">
          <div class="review_subContainer fancyShadow"
            style="--shadow-scale: 0.9; --shadow-offset: 20%; --shadow-blur: 64px; background: rgba(247,247,250,1);"
            data-v-f501703a="" data-v-1f4049d4=""><img
              src="https://images.prismic.io/dico-apex/591360de-4e9e-4f2f-acbc-8fa1fadcb280_Romain.png?auto=compress,format&amp;rect=0,0,240,240&amp;w=64&amp;h=64"
              alt="Romain Le Quellec" class="review_image" data-v-f501703a="" data-v-1f4049d4="">
            <div class="flex_container" data-v-f501703a="" data-v-1f4049d4="">
              <h3 class="text-heading-h4 " data-v-f501703a="" data-v-1f4049d4="">
                Romain Le Quellec
              </h3> <small class="reviewer_detail" data-v-f501703a="" data-v-1f4049d4="">
                Front-end developper at Owkin
              </small>
              <div class="text-body-large" data-v-f501703a="" data-v-1f4049d4="">
                <p>Dico feels like quite an exciting new tool. Can't wait to try it for real and integrate it in my
                  workflow!</p>
              </div>
            </div>
          </div>
        </li>
        <li class="review1" style="transform:translate(-102%, -87%) scale(0.8);">
          <div class="review_subContainer fancyShadow"
            style="--shadow-scale: 0.9; --shadow-offset: 20%; --shadow-blur: 64px;background: rgba(247,247,250,1);"
            data-v-f501703a="" data-v-1f4049d4=""><img
              src="https://images.prismic.io/dico-apex/c4cafe94-1491-450a-85c8-323280b003fd_Theo.png?auto=compress,format&amp;rect=0,0,240,240&amp;w=64&amp;h=64"
              alt="Theo Champion" class="review_image" data-v-f501703a="" data-v-1f4049d4="">
            <div class="flex_container" data-v-f501703a="" data-v-1f4049d4="">
              <h3 class="text-heading-h4 " data-v-f501703a="" data-v-1f4049d4="">
                Theo Champion
              </h3> <small class="reviewer_detail" data-v-f501703a="" data-v-1f4049d4="">
                Founder &amp; CTO at Zigg
              </small>
              <div class="text-body-large" data-v-f501703a="" data-v-1f4049d4="">
                <p>It took me a minute to get the impact of Dico, but once in the dashboard, you can really see in which
                  use cases it can be helpful!</p>
              </div>
            </div>
          </div>
        </li>
        <li class="review1" style="transform:translate(-33%, -148%) scale(0.9);">
          <div class="review_subContainer fancyShadow"
            style="--shadow-scale: 0.9; --shadow-offset: 20%; --shadow-blur: 64px;background: rgba(254,254,254,1);"
            data-v-f501703a="" data-v-1f4049d4=""><img
              src="https://images.prismic.io/dico-apex/b0c511b2-111a-4e8a-b636-09b1457fb94f_Martin.png?auto=compress,format&amp;rect=0,0,240,240&amp;w=64&amp;h=64"
              alt="Martin Goutry" class="review_image" data-v-f501703a="" data-v-1f4049d4="">
            <div class="flex_container" data-v-f501703a="" data-v-1f4049d4="">
              <h3 class="text-heading-h4" data-v-f501703a="" data-v-1f4049d4="">
                Martin Goutry
              </h3> <small class="reviewer_detail" data-v-f501703a="" data-v-1f4049d4="">
                Creative Developer at Diesdas.digital
              </small>
              <div class="text-body-large" data-v-f501703a="" data-v-1f4049d4="">
                <p>Cool to see a useful tool and not a new iteration of the same proposition. Will stay curious about
                  Dico!</p>
              </div>
            </div>
          </div>
        </li>
        <li class="review1" style="transform:translate(-16%, -61%);">
          <div class="review_subContainer fancyShadow"
            style="--shadow-scale: 0.9; --shadow-offset: 20%; --shadow-blur: 64px;background: rgba(231,233,238,1);"
            data-v-f501703a="" data-v-1f4049d4=""><img
              src="https://images.prismic.io/dico-apex/2b3a9062-f250-486e-8c59-1b35d5306096_Agnes.png?auto=compress,format&amp;rect=0,0,240,240&amp;w=64&amp;h=64"
              alt="Agnès Remi" class="review_image" data-v-f501703a="" data-v-1f4049d4="">
            <div class="flex_container" data-v-f501703a="" data-v-1f4049d4="">
              <h3 class="text-heading-h4" data-v-f501703a="" data-v-1f4049d4="">
                Agnès Remi
              </h3> <small class="reviewer_detail" data-v-f501703a="" data-v-1f4049d4="">
                Back-end developper at MyDodow
              </small>
              <div class="text-body-large text-black mt-2.5" data-v-f501703a="" data-v-1f4049d4="">
                <p>Dico is finally addressing a long time problem we had when building UIs. It's ease of use and
                  workflow seems really intuitive. Promising!</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>