.headerContainer {
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.headerSubContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.menuConatiner {
    width: 100%;
    display: none;
}

.menuSubContainer {
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: #4a5568;
    list-style-type: none;


}

.toggle_icon {
    display: block;
    cursor: pointer;
}

.link_tag {
    padding: 0.75rem, 0;
    display: block;
    text-decoration: none;

}

.cssbuttons-io-button {
    background: #fff;
    color: #000;
    margin-right: 1rem;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: 1px solid lightblue;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    /* box-shadow: inset 0 0 1.6em -0.6em #000; */
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    /* box-shadow: 0.1em 0.1em 0.6em 0.2em #000; */
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover {
    /* width: calc(100% - 0.6em); */
    background-image: linear-gradient(to right, #fc466b, #3f5efb);
    color: #fff;
    border: 2px solid #fff;
    box-shadow: none;
}

.icon:hover {
    box-shadow: none;
    color: #fff;
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #000;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
    box-shadow: none;
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

@media (min-width: 768px) {
    .menuConatiner {

        display: flex;
        align-items: center;
        width: auto;
    }

    .menuSubContainer {
        display: flex;
        padding-top: 0;
    }

    .toggle_icon {
        display: none;
    }

    .link_tag {
        padding: 1rem;
    }
}