<header class="headerContainer">
    <div class="headerSubContainer">
        <a href="" class="link_tag" style="font-size: 28px;">Amazon</a>
    </div>

    <label for="menu-toggle" class="toggle_icon">
        <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            viewBox="0 0 20 20">
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
    </label>
    <input style="display: none;" type="checkbox" id="menu-toggle" />

    <div class="menuConatiner" id="menu">
        <nav>
            <ul class="menuSubContainer">
                <li><a class="link_tag" routerLink="">Home</a></li>
                <li><a class="link_tag  px-0 block" routerLink="/productDisplayTable">Product View </a></li>


            </ul>
        </nav>
    </div>
</header>