<!-- src/app/about-me/about-me.component.html -->
<section class="about-me">
    <div class="profile-image">
      <img src="../../../assets/R.png" alt="Profile Picture" />
    </div>
    <div class="text-content">
      <h2>Hello, I'm Chirag Pahlajani</h2>
      <p>
        Welcome to my creative space! I am a passionate Software Developer
        with a focus on Front End Technology. Embracing the world of technology,
        I craft innovative solutions that make a difference.
      </p>
      <p>
        Beyond coding, I love exploring new horizons and turning ideas into
        reality. Whether it's web development or diving into the latest
        design trends, I thrive on continuous learning.
      </p>
      <p>
        Let's embark on a journey of creativity and innovation together. Feel
        free to explore my projects and skills. If you have exciting
        opportunities or just want to connect, drop me a message!
      </p>
    </div>
  </section>
  