<!-- <div mat-dialog-title>
    <h1>Login Form</h1>
</div> -->
<div mat-dialog-content class="content">
    <div class="loginContainer">
        <div class="loginSubContainer">
            <h1 class="mainbox">Welcome to My Website</h1>
            <form class="space-y-6">
                <div>
                    <label class="lblContainer" for="email">
                        Email
                    </label>
                    <input class="inputContainer" id="email" name="email" type="email">
                </div>
                <div>
                    <label class="lblContainer" for="password">
                        Password
                    </label>
                    <input class="inputContainer" id="password" name="password" type="password">
                </div>
                <div style="margin-top: 1rem;">
                    <button class="buttonContainer">
                        Submit
                        <div class="icon">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </button>
                    <p style="color: #fff; ">Don't have an account?</p><a style="color: #fff;" href="/register">Register
                        here</a>
                </div>
            </form>
        </div>
    </div>
</div>