.container 
{
    background-color:lightblue;
    height: 70px;
    width:70px;
    border: 2px solid crimson;
    transition-duration:2s ;
    &:hover {
        height: 170px;
        width: 170px;
        background-color: crimson;
        border: 2px solid lightblue;
        font-size: 50px;
        
    }
    &::first-letter{
        background-color: skyblue;
        color:white
    }
    
}
