.snackbar.show {
    visibility: visible;
    position: absolute;
    top: 10px;

    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

.card-body {
    background: rgb(15 23 42);
    border: 1px solid;
}