body {
    background-color: rgba(16, 14, 30, 1);
}

.form-container {
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 300px;
    margin-top: 25px;
    background: white;
}


form {
    display: flex;
    flex-direction: column;
    height: 550px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    font-size: 17px;
    margin-left: 15px;

}

.feedback-title {
    color: black;
    text-align: center;
}

input,
textarea {
    width: 85%;
    padding: 10px;
    margin-left: 15px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color: none;
    color: red;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    width: 85%;
    margin-left: 15px;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
    .feedback-form {
        padding: 15px;
    }
}

@media screen and (max-width: 400px) {

    input,
    textarea {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}